/.idea/
/chapter_001 - Блок 1. Структуры данных и алгоритмы/chapter_001 - Блок 1. Структуры данных и алгоритмы.iml
/chapter_002-Блок 2. Система ввода вывода/chapter_002-Блок 2. Система ввода вывода.iml
/chapter_003 - Блок 3. Базы данных/chapter_003 - Блок 3. Базы данных.iml
/chapter_004 - Блок 4. JVM и JMM/chapter_004 - Блок 4. JVM и JMM.iml
/chapter_005 - Блок 5. TDD/chapter_005 - Блок 5. TDD.iml
/job4j_design.iml
